.browse-body{
  background-color:#EDF2EF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-bottom: 15%;
}

.filter-bar{
  display: flex;
  flex-direction: row;
  margin-top:10rem;
  font-family: "Source Sans Pro", sans-serif;
  
}
#brand-browse{
width: 17rem;
height: 2.5rem;
border-radius:7px;
font-weight: 600;
border: solid 1.7px #1B1616;
}
#size-browse{
width: 17rem;
height: 2.5rem;
border-radius:7px;
margin-left: 0.7rem;
font-weight: 600;
border: solid 1.7px #F7F5FB;
}
#reset{
width: 6rem;
height: 2.5rem;
border: none;
color: white;
border-radius:7px;
margin-left: 0.7rem;
font-weight: 600;
background-color: #F15025;
}
#search{
  width: 6rem;
  height: 2.5rem;
  border-radius:7px;
  margin-left: 0.7rem;
  color:white;
  font-weight: 600;
  border: none;
  background-color: #F15025;
}