.layout {
  padding-top: 90px;
  display: flex;
}

.vertical-menu {
  width: 10%; 
  min-height: 100%;
  min-height: 800px;
  background: rgb(46, 46, 46);
  color: white;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  // position:fixed;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);

  .runlogo {
    width: 192px;
    margin-left: -10px;
    position: fixed;
    bottom: 0;
  }
}


.filter {
  display: flex;
  font-size: 1vw;
  font-weight: 500;
}


.buttons {
  justify-content: space-around;
  display: flex;
  padding-right: 30px;
}

