.layout {
  padding-top: 90px;
  display: flex;
}

.vertical-menu {
  width: 10%; 
  min-height: 100%;
  // min-height: 800px;
  background: rgb(46, 46, 46);
  color: white;
  display: flex;
  flex-direction: column;
  position:fixed;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);

}

.shoepic {
  width: 10%;
  height: 20%;
  position: fixed;
  bottom: 0;
}


.filter {
  display: flex;
  font-size: 1vw;
  font-weight: 500;
}


.buttons {
  justify-content: space-around;
  display: flex;
  padding-right: 30px;
}

.tradecard {
  margin-left: 200px;
}