
#pref {
  position: relative;
  left: 1.6rem;
  top:1.5rem;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
}

#browse-name {
  position: relative;
  top: -1.5rem;
  left: 1.3rem;
}

.make-offers {
  position: relative;
    left: 3.5rem;
    top: -3.7rem;

  button {
    color: white;
    position: relative;
    font-weight: 700;
    font-size: 1.2rem;
    height: 4rem;
    width: 11em;
    top: 7rem;
    left: 22rem;
    border-radius: 25px;
    background-color: navy;
    border: none;
    &:hover {
      background-color: #F15025;
    }
  }
}

#brand-size-br {
  font-size: 1.5rem;
  position: relative;
  top: 11.5rem;
  left: 1.3rem;
  font-weight: 600;
}

