
#pref {
  position: relative;
  left: 4%;
  top: 4%;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
}

#browse-name {
  position: relative;
  top: 6%;
  left: 4%;
}

.make-offers {
  position: relative;
    left: 3.5rem;
    top: -3.7rem;

  button {
    color: white;
    position: relative;
    font-weight: 700;
    font-size: 1.2rem;
    height: 4rem;
    width: 11em;
    top: 57%;
    left: 53%;
    border-radius: 25px;
    background-color: navy;
    border: none;
    &:hover {
      background-color: #F15025;
    }
  }
}

#brand-size-br {
  font-size: 1.5rem;
  position: relative;
  top: 28%;
  left: 5%;
  font-weight: 600;
}

