@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:wght@600&display=swap");

.master-container {
  position:relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 150px ;
  margin-bottom: 90px;
  margin-right: 90px;
  margin-left: 90px;
  border: 1px solid black;
  height :550px;
  border-radius: 13px;
  background-color:white;
  font-family: "Source Sans Pro", sans-serif;
  // animation: side-slide 1.4s ease-out;
}
.add-body{
  padding-top: 50px;
  background-color: rgb(33, 37, 41);
  margin-top: -60px;
  height: 120vh;
 
}

.form{
  padding-top: 25px;

}
.size-brand{
  margin-top: 20px;
  display: flex;
  
}

.size{
  width: 197.5px;
  position: relative;
  height: 50px;
  border-radius: 7px;
  margin-right: 5px;
  font-size: 18px;
}

.brand {
  width: 197.5px;
  position: relative;
  border-radius: 7px;
  height: 50px;
  font-size: 18px;
  
}
@keyframes side-slide{
  from{
    left:-300px;
    opacity: 0;

  }
  to{
    right:0px;
    opacity: 1;
  }
  
}
.description{
  padding: 20px 10px 10px;

}

.add-a-listing-img {
  width: 505px;
    height: 548px;
    border-radius: 13px;
}