@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:wght@600&display=swap");

.mylisting-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: navy;
  height: 100%;
  
}
.mylisting-container{
  position: relative;
  font-family: "Source Sans Pro", sans-serif;
  color:black;
  display: flex;
  flex-direction: row;
  padding-top:5%;
  border-radius: 25px;
  background-color: none;
  margin-top: 10%;
  height: 100%;
  width: 70%;
  animation: slide 1.3s ease-out;
}
.mylisting-img {
  width:200px;
  height: 200px;
  border-radius: 13px;
}
.mylisting-card-contents{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: aquamarine;
  height: 600px;
  width: 400px;
}
.addlisting-card{
  font-family: "Source Sans Pro", sans-serif;
  color:white;
  border-radius: 25px;
  background-color: navy;
  margin-top:10px;
  height:330px;
  width: 700px;
}

@keyframes slide {
  from{
    top:-300px;
    opacity: 0;

  }
  to{
    top:0px;
    opacity: 1;

  }
  
}