
.mylisting-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(33, 37, 41);
  height: 100%;
  padding-bottom: 15%;
}
.mylisting-container {
  position: relative;
  font-family: "Source Sans Pro", sans-serif;
  color: black;
  display: flex;
  flex-direction: row;
  padding-top: 5%;
  border-radius: 25px;
  background-color: none;
  margin-top: 8%;
  height: 100%;
  left:1.4%;
  animation: slide-to-top 1.3s ease-out;
}
.mylisting-img {
  width: 28rem;
  height: 28rem;
  border-radius: 13px;
  position: relative;
  left: -0.5rem;
  top: 2rem;
  z-index: 5;
}
.mylisting-card-contents {
  position: relative;
  left: -8rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  height: 32rem;
  width: 40rem;
  border-radius: 10px;
}

.listing-text {
  margin-left: 9rem;
  position: relative;
  h1 {
    padding-bottom: 1rem;
    font-size: 2.8rem;
    font-weight: 900;
  }
}

.view-offers {
  position: relative;
  left: 4rem;
  top: -2rem;

  button {
    color: white;
    position: relative;
    font-weight: 700;
    height: 4rem;
    width: 11em;
    font-size: 1.2rem;
    top: 9rem;
    left: 22rem;
    border-radius: 30px;
    background-color: rgb(17, 30, 108);
    border: none;
    &:hover {
      background-color: black;
    }
  }
}
#name{
  position: relative;
  top:-2rem;
}
#brand-size {
  font-size: 1.5rem;
  position: relative;
  top: 13.5rem;
  font-weight: 600;
}
#description {
  font-size: 1.5rem;
  position: relative;
  top: -2rem;
  left: 1rem;
}
#offers {
  position: relative;
  top: -21.5rem;
  left: 23.5rem;
  width:6rem;
}

.btn-primary {
  background-color: #e60023;
  border-radius: 20px;
  font-weight: 700;
  border: none;
  &:hover {
    background-color: #e60023;
  }
}
.my-brand {
  font-size: 1.9rem;
}

@keyframes slide-to-top {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}
