@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:wght@200;700&display=swap");
.mylisting-body-history {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(33, 37, 41);
  height: 100%;

}
.mylisting-container-history-left {
  position: relative;
  font-family: "Source Sans Pro", sans-serif;
  color: black;
  display: flex;
  flex-direction: row;
  padding-top: 5%;
  border-radius: 25px;
  background-color: transparent;
  margin-top: 8%;
  height: 100%;
  animation: slide 1.3s ease-out;
  margin-left: 5%;
}

.mylisting-container-second {
  position: relative;
  font-family: "Source Sans Pro", sans-serif;
  color: black;
  display: flex;
  flex-direction: row;
  padding-left: 3em;
}


.tradeslot {
  height: 5em;
  width: 10em;
  flex-direction: column;
  justify-content: center;
  display: flex;
  margin-top: 13rem;
}

.tradepic {
  padding-left: 2rem;
}

.mylisting-img {
  width: 17rem;
  height: 17rem;
  border-radius: 13px;
  position: relative;
  left: -0.5rem;
  top: 2rem;
  z-index: 5;
}

.offerpic-second {
  width: 17rem;
  height: 17rem;
  border-radius: 13px;
  position: relative;
  left: 26rem;
  top: 2rem;
  z-index: 5;
}

.mylisting-card-contents-history-left {
  position: relative;
  left: -8rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  height: 32rem;
  width: 32rem;
  border-radius: 10px;


}


.listing-text-history {
  margin-left: 9rem;
  position: relative;
  h1 {
    padding-bottom: 1rem;
    font-size: 2.8rem;
    font-weight: 900;
  }
}

.mylisting-card-contents-second {
  position: relative;
  left: -13rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  height: 32rem;
  width: 32rem;
  border-radius: 10px;

}

.listing-text-second {
  margin-right: 3rem;
  position: relative;
  margin-left: 1rem;
  h1 {
    padding-bottom: -2rem;
    font-size: 2.8rem;
    font-weight: 900;
  }
}

.my-email-second {
  font-size: 1rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
}


#brand-size {
  font-size: 1.5rem;
  position: relative;
  top: 11.5rem;
  font-weight: 600;
}
#description {
  font-size: 1.5rem;
  position: relative;
  top: -2rem;
  left: 1rem;
}
#offers {
  position: relative;
  top: -20.5rem;
  left: 22.5rem;
}
.btn-primary {
  background-color: #E60023;
  border-radius: 20px;
  font-weight: 700;
  border: none;
}
.my-brand {
  font-size: 1.9rem;
}

@keyframes slide {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}
