@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.signup-heading {
  color: black;
  padding-top: 0px;
  display: flex;
  align-items:center;
  margin-bottom: 8%;
 
}
.signup-body {
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(33, 37, 41);
} 

.signup-form {
  position: relative;
  z-index: 2;
  margin-top:13%;
  margin-bottom: 13%;
  background-color: white ;
  padding:5%;
  border-radius: 25px;
  animation: slide 1.3s ease-out;
}
.signup-form h1 {
  font-size: 35px;
  text-align: center; 
  margin-bottom: 35px ;

}
.int-area {
  width: 400px;
  position: relative;
  margin-top: 5%;
}
.int-area:first-child{margin-top: 0;}
.int-area input {
  width: 100%;
  padding: 5% 2.5% 2.5%;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 7px;
  font-size: 18px;
  color:black;
}
.int-area label {
  position: absolute;
  left: 10px;
  top:15px; 
  font-size: 18px;
  color: #000000 ;
  transition: top .4s ease;
} 
.int-area input:focus + label,
.int-area input:valid + label {
  top:0px;
  font-size: 13px;
  color: rgb(17, 30, 108);
}
.btn-area  {
  margin-top:30px;
}
.btn-area button {
  width: 100%;
  height: 50px ;
  font-size: 20px;
  border: none;
  border-radius: 25px;
  background: black;
  color: white ;
  cursor:pointer;
}

@keyframes slide {
  from{
    top:-300px;
    opacity: 0;

  }
  to{
    top:0px;
    opacity: 1;

  }
}
.caption {
  margin-top: 20px ;
  text-align: center;
}