.nav-bar{
  background-color:#071522;
  
  
}
.username {
  font-size: small;
  margin-left: 1em;
}

.nav-elms{
  display: flex;
}
.logoname{
  margin-left: 1.5rem;
}

.notificationIcon {
  width: 30px;
  height: 30px;
}